
.logo-search .search-lang .lang ul{
    display: flex;
  
}
.logo-search .search-lang
{
    float: right;
}
.logo-search .search-lang .lang ul li{
 list-style: none;
 padding-left: 10px;
}
.logo-search .search-lang .lang
{
    margin-bottom:3px ;
    border-bottom:1px solid black ;
}
.logo-search{
    margin-bottom:20px ;
}
.title-menu .title
{

height: 40px;
}

.menu > ul > li > a {
    /* position: relative; */
    /* display: block; */
    /* color: #fff; */
    /* font-size: 17px; */
    /* padding: 0 15px; */
    /* outline: none; */
    /* text-transform: uppercase; */
    /* font-family: 'RobotoCondensedRegular', sans-serif; */
    /* line-height: 44px; */
}
.title-menu .title .menu 
{
    /* padding: 7px; */
}
.title-menu .title .menu1
{
    /* justify-content: space-around; */
    list-style: none;
    display: flex;
    padding: 0;
}
/* footer .title .menu1 .sub-menu li {
    position: absolute;
    
}
.background-img {
    position: relative;
} */
.title-menu .title ul li a{
    font-size: 16px;
    font-family: 'roboto',sans-serif;
    color: black;
    text-decoration: none;

}
/* footer .title ul li a:hover
{
    color: cornflowerblue;
} */
/*main-main*/
main .connection 
{
    position: fixed;
   z-index: 1;
   top:300px;
   right: 10px;
   
}
main .connection .conn-yt
{
    margin: 10px 0 10px 0;
}

.dnn-content ul
{
    display: flex;
    margin-top:10px ;
}
.dnn-content ul li
{
    list-style: none;
    padding-left: 50px;
    text-align: center;

}
.title-menu
{
    background-color: #7eabdf;
}
.dnn-content ul li p{
    padding-top:10px ;
}
.dnn-content ul
{
    border-bottom:1px solid gray ;
}
.bd-row-right .thongbao ul li a,.bd-row-right .tintuc ul li a
{
    color: black;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}
.bd-row-right .thongbao ul li a:hover,.bd-row-right .tintuc ul li a:hover
{
color:blue;
}
.bd-row-right .thongbao ul li 
{
    list-style: none;
    padding: 5px;
    border-bottom:1px solid gray ;
}
.bd-row-right .thongbao ul li a img{
    margin: 3px;
}
.bd-row-right .thongbao ul
{
    padding: 0px;
}
.bd-row-right .tintuc ul 
{
    padding: 0px;
}
.bd-row-right .tintuc ul li
{
padding: 3px;
}
.tuyensinh .thongbao-tuyensinh ul li a
{
    color: black;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;

}
.tuyensinh .thongbao-tuyensinh ul li
{
    padding: 5px;
    border-bottom:1px solid gray ;
}
.khcn .khcn-cell4 ul li{
    list-style: none;
    padding-top: 10px;
}
.khcn .khcn-cell4 ul
{
    padding-left: 0px;
}
.daotao .daotao-cell4 ul li a , .doingoai .doingoai-cell4 ul li a
{
    color: black;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
}
.daotao .daotao-cell4 ul li, .doingoai .doingoai-cell4 ul li
{
    padding: 5px;
    border-bottom:1px solid gray ;
}
.svtuonglai img, .svhientai img, .cuusv img{
    margin: 10px;
}
.sinhvien .svhientai ul,
.sinhvien .svtuonglai ul,
.sinhvien .cuusv ul
{
    padding-left: 20px;
} 
.sinhvien .svhientai ul li a,
.sinhvien .svtuonglai ul li a,
.sinhvien .cuusv ul li a
{
    color: black;
}
/*phần cuối footer*/
/* .infor .img-infor a{
    padding-top: 10px;
    padding-left:15px ;
} */
.infor-bottom .addresshn, .infor-bottom .addressmn
{
    display: flex;
    padding:20px;
}
.infor-bottom .addresshn
{
    border-bottom: 1px solid black ;
}
.infor-bottom .addresshn .hungyen, .infor-bottom .addressmn .viendaotao
{

    padding-left: 30px;
}
footer .infor .infor-bottom
{
    background-color: #3e608a;
}
footer .infor-bottom .mess  img,.infor-bottom .mess  div
{
    position: fixed;
    right: 30px;
    bottom: 20px;
}
footer .infor-bottom .maps
{
    width: 300px;
    padding-top: 50px;
    margin-right: 30px;
}
 footer .infor-bottom .maps img{
    width: 100%;
}
.infor-bottom .addresshn , .infor-bottom .addressmn
{
    margin-left: 20px;
}

main nav .nav-item
{
    display: inline;
}
/* css thong bao va tin tức*/

/*css tuyen sinh*/
body .location{
    margin: 2px 0 0 0;
    height: 32px;
    background-color: #112aa8;

}
/* main .content-right ul,main .content-left ul{
    list-style: none;
} */

/* menu */

.menu ul > li > a:hover {
    background-color: rgba(2,139,255,1);
}

.menu ul {
    list-style-type: none;
    background-color: #a2b3f0;
}
.menu ul li a {
    padding: 0 15px;
}

.menu ul .l1:after {
    background-color: #7b85b8;
    content: '';
    display: inline-block;
    height: 13px;
    width: 1px;
    position: relative;
    bottom: 32px;
}
.menu ul li a{
    display: block;
    position: relative;
    height: 40px ;
    line-height: 40px;
}





.menu ul li > .sub-menu {
    display: none;
}
.menu ul li:hover .sub-menu {
    display: block;
}


/* 
.menu ul .sub-menu > li:hover a{

    padding-left: 25px;
    
}
.sub-menu > li > a:hover  {
    color: #1931b5;
    font-style: italic;
}

.sub-menu {
    position: absolute;
    width: 255px;
    z-index: 1;
    padding-left: 0px;
    height: auto;
}

.sub-menu li {
    background-color: rgba(2,139,255,1);
}

.menu ul.sub-menu > li > a {
  
    border-bottom: 1px solid #96d6ff;
    padding: 8px 0 8px 22px;
    display: block;
    height: auto;
    line-height: 24px;

}

.sub-menu li a::before {
    content: "\f101";
    font-family: FontAwesome;
    font-size: 14px;
    left: 10px;
    position: absolute;
} */

